
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    /*height: 1000px;*/
}


#app {
    display: table;
    margin: 50px auto;
    min-width: 1160px;
}

#app table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    display: block;
}

#app table.lazyLoad {
    display: block;
}

#app table.lazyLoad tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

#app table.lazyLoad thead {
    display: block;
}

#app table thead{
    background: #333;
    color: #ddd;
}

#app table thead tr th{
    padding: 10px 5px;
    text-align: center;
    font-size: 15px;
}

#app table thead tr th[data-sort-by] {
    cursor: pointer;
}

#app table thead tr th.active {
    background: #000;
    position: relative;
}

#app table thead tr th.active.asc:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    background: url("../img/sort-up.png") left top no-repeat;
    width: 8px;
    height: 8px;
    background-size: contain;
}

#app table thead tr th.active.desc:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    background: url("../img/sort-down.png") left top no-repeat;
    width: 8px;
    height: 8px;
    background-size: contain;
}

#app table tbody {

}

#app table tbody tr {
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: transform .35s;
}

#app table tbody tr.deleting {
    transform: translateX(-100%);
}

#app table tbody tr.addition {
    transform: translateX(100%);
}

#app table tbody tr:nth-child(even){
    background: #eee;
}

#app table tbody tr:nth-child(odd){
    background: #ddd;
}

#app table tbody tr:hover {
    background: #fff;
}

#app table tbody tr td{
    font-size: 12px;
    padding: 0 5px;
    text-align: left;
}

#app table tbody tr td a {
    display: block;
    background: #666;
    color: #eee;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    padding: 5px 0;
}

#app table tbody tr td a:hover {
    background: #000;
}

.id {
    width: 70px;
}

.name {
    width: 100px;
}

.email {
    width: 200px;
}

.birth {
    width: 145px;
}

.date {
    width: 355px;
    position: relative;
    overflow: hidden;
}


.date .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.overlay.positive {
    background: rgba(100, 255, 100, .4);
}

.overlay.negative {
    background: rgba(255, 80, 80, .4);
}

.del, .delete {
    width: 130px;
    padding: 0 !important;
}

.edit {
    width: 130px;
    padding: 0 !important;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal .modal-window {
    position: absolute;
    z-index: 1;
    top: -50%;
    background: #333;
    padding: 20px;
    width: 430px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: row wrap;
    transform: translateY(-50%);
    transition: all .65s;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.modal .modal-window.show{
    top: 50%;
}

.modal .modal-window.disable:after {
    content: '*';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .7);
}

.modal .modal-window .caption {
    text-align: center;
    color: #ddd;
    font-size: 22px;
    flex-basis: 100%;
}

.modal .modal-window .group {
    margin: 10px 10px 0;
}

.modal .modal-window .avatar-group img{
    display: block;
    margin-bottom: 10px;
}

.modal .modal-window .group label {
    display: block;
    color: #ddd;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
}

.modal .modal-window .group input {
    padding: 6px 10px;
    color: #333;
    background: #fff;
    border: 2px solid #fff;
    width: 170px;
    height: 25px;
}

.modal .modal-window .date-group input{
    display: block;
}

.modal .modal-window .date-group input:nth-child(3) {
    margin-top: 15px;
}

.modal .modal-window .group input.error {
    border-color: red !important;
}

.modal .modal-window .group input.success {
    border-color: green;
}

.modal .modal-window .group input:focus {
    outline: 0;
}

.modal .modal-window .control-group {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.modal .modal-window .control-group button {
    color: #ddd;
    background: #555;
    border: 0;
    padding: 10px 10px;
    font-size: 14px;
    margin: 0 5px;
    width: 93px;
    cursor: pointer;
}

.modal .modal-window .control-group button:hover {
    background: #222;
}

.modal .modal-window .control-group button:focus {
    outline: 0;
}

.option {
    background: #ddd;
    padding: 15px 5px;
}

.option .add-user {
    color: #ddd;
    background: #222;
    border: 0;
    padding: 10px 10px;
    font-size: 14px;
    margin: 0 5px;
    min-width: 105px;
    cursor: pointer;
}

.option .add-user:focus {
    outline: 0;
}

.option .pagination {
    display: inline-block;
    margin: 0 235px;
}

.option .pagination .page {
    display: inline-block;
    color: #ddd;
    background: #666;
    border: 0;
    text-align: center;
    width: 30px;
    line-height: 35px;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
}

.option .pagination .page:hover, .option .pagination .page.active {
    background: #222;
}

.header {
    overflow: hidden;
    margin-bottom: 10px;
}

.header .search {
    float: right;
    overflow: hidden;
}

.header .search input {
    float: left;
    padding: 4px 5px;
    margin: 1px;
    background: #eee;
    color: #999;
    border: 1px solid #999;
}

.header .search button:focus, .header .search input:focus {
    outline: 0;
}

.header .search button {
    cursor: pointer;
    float: right;
    display: block;
    background: #666;
    color: #eee;
    margin: 1px;
    text-align: center;
    padding: 5px 0;
    border: 0;
    width: 100px;
}

.header .switch-notify {
    display: inline-block;
    float: left;
}

.header .switch-notify input {
    position: relative;
    top: 2px;
    margin: 0 5px;
}

.header .switch-notify label {
    color: #333;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.header .languages-wrapper {
    display: inline-block;
    float: left;
    margin-left: 245px;
}

.header .languages-wrapper a {
    color: #333;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 3px;
    padding: 6px;
    display: inline-block;
}

.header .languages-wrapper a.active {
    background: #333;
    color: #eee;
}

.tooltip {
    display: none;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip-name {
    background: #333;
}

.tooltip-name p{
    text-align: center;
    color: #fff;
    padding: 10px 5px;
    font-size: 14px;
}

.tooltip-name img {
    display: table;
    margin: 0 auto;
    max-width: 100%;
}

.tooltip-email {
    width: 275px;
    background: #333;
}

.tooltip-email p {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

.tooltip-email p mark {
    background: none;
    color: #fff;
    display: block;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
}

.notify-wrapper {
    position: fixed;
    top: 13px;
    left: 3px;
}

.notify-wrapper .notify {
    font-size: 14px;
    width: 225px;
    padding: 8px 16px;
    border-radius: 2px;
    background: #308b59;
    margin-bottom: 8px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity .75s;
}


#app .person-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background: #666;
}

#app .person-wrapper img {
    float: left;
}

#app .person-wrapper .info {
    padding: 28px 0;
    float: left;
    margin-left: 15px;
}

#app .person-wrapper .info p {
    width: auto;
    color: #ebebeb;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}